{
  rules: {
    indent: [2, 2, {"SwitchCase": 1}],
    no-multi-spaces: 2,
    no-underscore-dangle: 0,
    no-unused-expressions: 0,
    no-empty-class: 0,
    object-curly-spacing: [2, "always"],
    quotes: [1, "single"],
    space-in-parens: [2, "never"],
    no-else-return: "error",
    no-empty-function: "error",
    global-require: "error",
    brace-style: "error",
    camelcase: 0,
    comma-style: ["error", "last"],
    arrow-spacing: "error",
    "no-confusing-arrow": ["error", {"allowParens": false}],
    no-const-assign: "error",
    no-duplicate-imports: "error",
    no-var: "error",
    prefer-arrow-callback: "error",
    prefer-const: "error"

  },
  env: {
    node: true,
    es6: true,
    browser: true,
    jasmine: true,
    mocha: true,
    jquery: true
  },
  globals: {
    angular: true,
    by: true,
    browser: true,
    element: true,
    inject: true,
    io: true,
    moment: true,
    Modernizr: true,
    Promise: true,
    __TESTING__: true,
    _: false,
    ApplicationConfiguration: true
  }
}
