@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
/* For Phone */

@media (max-width: 767px) {
  .phone-center {
    text-align: center;
  }
  .footer-logo {
    float: none !important;
  }
  .left-panel {
    border-bottom: 4px solid #fe8c35;
    margin-right: 0px;
  }
  .right-divider{
    border-right: none !important;
  }
  .title.title-pad{
    padding-top: 10px !important;
  }
  .panel-container{
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  .mobile-no-pad{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mobile-full-width{
    width: 100% !important;
  }
  .phone-hidden{
    display: none !important;
  }
  .hide-col-1-phone th:nth-child(1), .hide-col-1-phone td:nth-child(1){
    display: none !important;
  }
  .phone-top-margin{
    margin-top: 10px;
  }
  .pane{
  	padding: 0px 15px 15px !important;
  }
}

/* For Tablet/Phone */

@media (max-width: 991px) {
  .tablet-center {
    text-align: center;
  }
  .top-logo {
    width: 80% !important;
  }
  .title-pad{
    padding-top: 40px !important;
  }
}

/* For Tablet/Desktop */

@media (min-width: 768px) {
  .landing-page-container {
    margin-top: 50px !important;
  }
  .jumbotron h1, .jumbotron .h1 {
      font-size: 45px !important;
  }
}

/* For Desktop Only */

@media (min-width: 992px) {

}

html {
  overflow-x: hidden;
  height: 100%;
  background-color: white;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
  border-top: solid 3px #fe8c35;
  color: #383838;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 150%;
}

section.ng-scope {
    margin-top: auto;
    margin-bottom: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #243778 !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: 300 !important;
}

h1, h2, h3 {
  line-height: 40px;
}

h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

.navbar {
  background: #f1f1f1;
  color: #243778;
  text-transform: uppercase;
  border-top: 1px solid #9da3bd;
  border-bottom: 3px solid #9da3bd;
  margin-bottom: 0px !important;
}

.top-logo {
  width: 50%;
  padding: 10px 0px 10px 0px;
}

.main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-pad {
  padding-top: 30px;
}

.small-top-pad {
  padding-top: 10px;
}

.top-margin {
  margin-top: 30px;
}

.small-top-margin {
  margin-top: 10px;
}

.gator-dark-blue {
  background-color: #243778 !important;
  color: white !important;
}

.gator-light-blue {
  background-color: #4d61a6 !important;
  color: white !important;
}

.gator-orange {
  background-color: #fe8c35 !important;
  color: white !important;
}

.left-panel {
  padding: 20px 0px 20px 0px;
  font-size: 1.2em;
  margin-right: 5px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.vertical-center{
  vertical-align: middle;
}

.right-divider{
  border-right: 4px solid #fe8c35;
}

.title {
  font-size: 3em;
}

.title-pad{
  padding-top: 15px;
  padding-bottom: 20px;
}

footer {
  background: url(/images/footer_wrap.jpg) repeat-x scroll 0 top white;
  margin-top: auto;
}

footer .uf-monogram {
  background: url(/images/uf_monogram.png) no-repeat scroll 0 0 transparent;
  display: block;
  height: 48px;
  left: 50%;
  margin-left: -25px;
  position: relative;
  top: -20px;
  width: 48px;
}

.pad-top{
  padding-top: 15px;
}

.pad-bottom{
  padding-bottom: 15px;
}

.margin-top{
  margin-top: 30px;
}

.btn.no-margin-bottom{
  margin-bottom: 0px !important;
}

.btn{
  border-radius: 2px !important;
  font-size: 1.3em !important;
  margin-bottom: 15px !important;
  border: 0px !important;
  color: #fff !important;
  white-space: normal !important;
}

.btn:focus{
  outline: none !important;
}

.btn-primary {
  background: #007ec6 !important;
}

.btn-primary:hover{
  background: #006ba8 !important;
}

.btn-orange{
  background: #ff7f16;
}

.btn-orange:hover{
  background: #dd6c0f;
}

.btn-green{
  background: #32c256;
}

.btn-green:hover{
  background: #32aa50;
}

.btn-red{
  background: #de4444;
}

.btn-red:hover{
  background: #be2b2b;
}

.inner-container{
  margin-bottom: 40px;
}

.panel-container{
  padding-top: 50px;
}

.jumbotron h1{
  padding-bottom: 20px;
  color: white !important;
}

.jumbotron-container{
  border-radius: 6px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.lowercase {
    text-transform: lowercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}

md-datepicker {
    width: 100%;
}

.form-panel{
  background-color: white;
  box-shadow: -2px 2px 5px #888888;
  border: 1px solid #c3c3c3;
}

.form-panel form{
  padding: 20px;
}

.forgot-password{
  margin-top: -8px;
}

.no-margin{
  margin: 0px !important;
}

.profile-box{
  margin-top: 20px;
  border: 2px solid #c3c3c3;
  border-radius: 4px;
}

.profile-box-inner{
  padding: 15px;
}

table.ng-table th{
  background-color: #316cb9;
  height: 30px;
  color: white;
  text-shadow: none !important;
}

table.ng-table tbody td, table.ng-table thead th {
  border: 1px solid gray;
}

.ng-table tr:nth-child(even) {
  background-color: #eeeded;
}

.ng-table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.ng-table th.sortable .sort-indicator:after {
 	border-color: white transparent;
}

.ng-table th.sortable .sort-indicator:before{
	border-top: 4px solid white;
}

.ng-table th.sortable.sort-desc .sort-indicator:after{
	border-top: 4px solid white;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background-color: #22589e;
}

.ng-table td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-hover{
	font-size: 15px;
}

.table-hover tbody tr:hover{
	background-color: #fca05a !important;
}

.pagination>.active>a{
  background-color: #316cb9 !important;
}

.pagination{
  margin: 0px !important;
}

.entries-selectable tbody tr:hover{
  cursor: pointer;
}

.mini-title{
  font-size: 16px;
  font-weight: bold;
}

.modal{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.modal-dialog{
  margin-left: auto !important;
  margin-right: auto !important;
}

.session-modal{
  margin-top: 60px !important;
  max-width: 500px;
}

.modal-header {
  border: none !important;
  padding: 20px;
  color: white;
}

body.modal-open{
  overflow: hidden;
}

.small-modal{
	margin: 250px auto;
	max-width: 500px;
	min-height: 150px;
}

.small-modal .modal-content{
	height: 100%;
	padding: 20px;
}

.small-modal-btn{
	margin-top: 15px;
	width: 100%;
	height: 50px;
	background-color: white;
  color: black !important;
	border: 1px solid gray !important;
}

.small-modal-btn:hover{
	background-color: buttonface;
}

.close {
  font-size: 35px !important;
}

.close:focus{
  outline: none !important;
}

.modal h3{
	font-size: 28px;
}

.modal h4{
	font-size: 22px;
}

hr {
  border-top: 1px solid #eee !important;
}

.pane{
	padding: 0px 35px 15px;
}

.underline{
  text-decoration: underline;
}

.error{
  color: #a94442;
}
