@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* For Phone */
@media (max-width: 767px) {
  .phone-center {
    text-align: center;
  }
  .footer-logo {
    float: none !important;
  }
  .left-panel {
    border-bottom: 4px solid #fe8c35;
    margin-right: 0px;
  }
  .right-divider{
    border-right: none !important;
  }
  .title.title-pad{
    padding-top: 10px !important;
  }
  .panel-container{
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .mobile-no-pad{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mobile-full-width{
    width: 100% !important;
  }
  .phone-hidden{
    display: none !important;
  }
  .hide-col-1-phone th:nth-child(1), .hide-col-1-phone td:nth-child(1){
    display: none !important;
  }
  .hide-col-2-phone th:nth-child(2), .hide-col-2-phone td:nth-child(2){
    display: none !important;
  }
  .hide-col-3-phone th:nth-child(3), .hide-col-3-phone td:nth-child(3){
    display: none !important;
  }
  .hide-col-4-phone th:nth-child(4), .hide-col-4-phone td:nth-child(4){
    display: none !important;
  }
  .phone-top-margin{
    margin-top: 10px;
  }
  .pane{
  	padding: 0px 15px 15px !important;
  }
  .filter-btn{
    margin-top: 15px;
  }
  .clear-filters-btn{
    top: 5px !important;
    right: 5px !important;
  }
  .session-modal, .table-modal{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .border-right {
    border-bottom: 2px solid #c3c3c3;
  }
}

/* For Tablet/Phone */
@media (max-width: 991px) {
  .tablet-center {
    text-align: center;
  }
  .top-logo {
    width: 80% !important;
  }
  .title-pad{
    padding-top: 40px !important;
  }
}

/* For Tablet/Desktop */
@media (min-width: 768px) {
  .landing-page-container {
    margin-top: 50px !important;
  }
  .jumbotron h1, .jumbotron .h1 {
      font-size: 45px !important;
  }
  .half-width{
    width: 50%;
  }
  .session-modal, .table-modal{
    margin-top: 60px !important;
  }
  .border-right {
    border-right: 2px solid #c3c3c3;
  }
  .force-fit {
    display: flex;
    flex-wrap: wrap;
  }
  .expand {
    flex: 1;
  }
  .top-divider{
    display: none;
  }
}

/* For Desktop Only */
@media (min-width: 992px) {

}

html {
  height: 100%;
  background-color: white;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
  border-top: solid 3px #fe8c35;
  color: #383838;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 150%;
}

section.ng-scope {
    margin-top: auto;
    margin-bottom: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #243778 !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: 300 !important;
}

h1, h2, h3 {
  line-height: 40px;
}

h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

.navbar {
  background: #f1f1f1;
  color: #243778;
  text-transform: uppercase;
  border-top: 1px solid #9da3bd !important;
  border-bottom: 3px solid #9da3bd !important;
  margin-bottom: 0px !important;
}

.navbar-nav{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.navbar-toggle {
  border: 2px solid #9da3bd !important;
  margin-bottom: 10px !important;
}

.navbar-toggle .icon-bar {
  background-color: #9da3bd !important;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none !important;
}

.nav>li>a:focus, .nav>li>a {
  font-size: 16px;
}

.top-logo {
  width: 50%;
  padding: 10px 0px 10px 0px;
}

.main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-pad {
  padding-top: 30px;
}

.small-top-pad {
  padding-top: 10px;
}

.bottom-pad {
  padding-bottom: 30px;
}

.small-bottom-pad {
  padding-bottom: 10px;
}

.top-margin {
  margin-top: 30px;
}

.no-margin .small-top-margin {
  margin-top: 10px !important;
}

.small-top-margin {
  margin-top: 10px;
}

.bottom-margin {
  margin-bottom: 30px !important;
}

.small-bottom-margin {
  margin-bottom: 10px !important;
}

.gator-dark-blue {
  background-color: #243778 !important;
  color: white !important;
}

.gator-light-blue {
  background-color: #4d61a6 !important;
  color: white !important;
}

.gator-orange {
  background-color: #fe8c35 !important;
  color: white !important;
}

.left-panel {
  padding: 20px 0px 20px 0px;
  font-size: 1.2em;
  margin-right: 5px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.most-width{
  width: 70%;
}

.vertical-center{
  vertical-align: middle;
}

.right-divider{
  border-right: 4px solid #fe8c35;
}

.title {
  font-size: 3em;
}

.title-pad{
  padding-top: 15px;
  padding-bottom: 20px;
}

footer {
  background: url(/images/footer_wrap.jpg) repeat-x scroll 0 top white;
  margin-top: auto;
}

footer .uf-monogram {
  background: url(/images/uf_monogram.png) no-repeat scroll 0 0 transparent;
  display: block;
  height: 48px;
  left: 50%;
  margin-left: -25px;
  position: relative;
  top: -20px;
  width: 48px;
}

.pad-top{
  padding-top: 15px;
}

.pad-bottom{
  padding-bottom: 15px;
}

.margin-top{
  margin-top: 30px;
}

.btn.no-margin-bottom{
  margin-bottom: 0px !important;
}

.no-margin-bottom{
  margin-bottom: 0px !important;
}

.btn{
  border-radius: 2px !important;
  font-size: 1.3em !important;
  margin-bottom: 15px !important;
  border: 0px !important;
  color: #fff !important;
  white-space: normal !important;
}

.btn:focus{
  outline: none !important;
}

.btn-primary {
  background: #316cb9 !important;
}

.btn-primary:hover{
  background: #2e66af !important;
}

.btn-orange{
  background: #ff7f16;
}

.btn-orange:hover{
  background: #dd6c0f;
}

.btn-green{
  background: #32c256;
}

.btn-green:hover{
  background: #32aa50;
}

.btn-red{
  background: #de4444;
}

.btn-red:hover{
  background: #be2b2b;
}

.inner-container{
  margin-bottom: 40px;
}

.panel-container{
  padding-top: 50px;
}

.jumbotron h1{
  padding-bottom: 20px;
  color: white !important;
}

.jumbotron-container{
  border-radius: 6px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.lowercase {
    text-transform: lowercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}

md-datepicker {
    width: 100%;
}

.form-panel{
  background-color: white;
  box-shadow: -2px 2px 5px #888888;
  border: 1px solid #c3c3c3;
}

.form-panel form{
  padding: 20px;
}

.forgot-password{
  margin-top: -8px;
}

.no-margin{
  margin: 0px !important;
}

.loading-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background:rgba(0,0,0,0.5);
  display: flex;
}

.loading-image {
  margin: auto;
  max-height: 150px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

table.ng-table th{
  background-color: #316cb9;
  height: 30px;
  color: white;
  text-shadow: none !important;
}

table.ng-table tbody td, table.ng-table thead th {
  border: 1px solid gray;
}

.ng-table tr:nth-child(even) {
  background-color: #eeeded;
}

.ng-table tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.ng-table th.sortable .sort-indicator:after {
 	border-color: white transparent;
}

.ng-table th.sortable .sort-indicator:before{
	border-top: 4px solid white;
}

.ng-table th.sortable.sort-desc .sort-indicator:after{
	border-top: 4px solid white;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
  background-color: #22589e;
}

.ng-table td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-hover{
	font-size: 15px;
}

.table-hover tbody tr:hover{
	background-color: #fca05a !important;
}

.pagination>.active>a{
  background-color: #316cb9 !important;
}

.pagination{
  margin: 0px !important;
}

.entries-selectable tbody tr:hover{
  cursor: pointer;
}

.selectable:hover{
  cursor: pointer;
}

.mini-title{
  font-size: 16px;
  font-weight: bold;
}

.modal{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.modal-dialog{
  margin-left: auto !important;
  margin-right: auto !important;
}

.session-modal{
  max-width: 500px;
}

.table-modal{
  max-width: 1000px;
}

.course-modal{
  margin-top: 170px !important;
  max-width: 500px;
}

.modal-header {
  border: none !important;
  padding: 20px;
  color: white;
}

body.modal-open{
  overflow: hidden;
}

.small-modal{
	margin: 250px auto;
	max-width: 500px;
	min-height: 150px;
}

.small-modal .modal-content{
	height: 100%;
	padding: 20px;
}

.small-modal-btn{
	margin-top: 15px;
	width: 100%;
	height: 50px;
	background-color: white;
  color: black !important;
	border: 1px solid gray !important;
}

.small-modal-btn:hover{
	background-color: buttonface;
}

.close {
  font-size: 35px !important;
}

.close:focus{
  outline: none !important;
}

.modal h3{
	font-size: 28px;
}

.modal h4{
	font-size: 22px;
}

hr {
  border-top: 1px solid #eee !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.pane{
	padding: 0px 35px 15px;
}

.underline{
  text-decoration: underline;
}

.error{
  color: #a94442;
}

.note{
  font-style: italic;
  font-size: 1em !important;
}

.bootstrap-datetimepicker-widget{
  margin-right: -46px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
  right: 58px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
  display: none !important;
}

.study-satisfied{
  background-color: #a2d6b3 !important;
}

.study-closed, .study-satisfied .study-closed{
  background-color: #e0a9a9 !important;
}

.not-bold{
  font-weight: normal;
}

.search-container{
	width: 100%;
	background-color: #f1f1f1;
}

.search-pad{
  padding: 15px 0px;
}

.search-box{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.search-box input#search{
  width: 100%;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c6cde8;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.search-box input#search {
   color: #65737e;
   padding-right: 50px;
}

.search-box input:focus, .search-box:hover button.icon, .search-box:active button.icon, .search-box:focus button.icon{
  outline: none;
}

.search-box button.icon{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  height: 40px;
  width: 50px;
  color: white;
  font-size: 12pt;
  margin-left: -50px;
}

.filter-btn{
  margin-bottom: 0px !important;
  position: relative;
}

.clear-filters-btn{
  position: absolute;
  padding-top: 1px;
  text-align: center;
  top: -10px;
  right: 3px;
  width: 25px;
  height: 25px;
  font-size: 16px;
  border-radius: 20px;
  color: white !important;
  text-decoration: none !important;
  display: none;
}

.clear-filters-btn:hover{
  cursor: pointer;
}

.filter-area{
  border-top: 1px solid #c6cde8;
  background-color: #f9f9f9;
	display: none;
  padding-bottom: 15px;
}

.select-options{
	height: 40px;
	font-size: 20px;
	width: 100%;
}

.filter-date{
	font-size: 20px;
	width: 40%;
}

.shrink-col-3 th:nth-child(3){
  width: 200px;
}

.text-area{
  min-height: 100px;
}

.stats-table {
  width: 100%;
  box-shadow: -2px 2px 5px #888888;
  border: 1px solid #c3c3c3;
  height: auto;
}

.force-fit{
  margin-left: 1px !important;
  margin-right: 1px !important;
}

.hidden{
  display: none;
}

.uib-daypicker{
  outline: none !important;
  text-align: center;
}

.uib-day button, .uib-month button, .uib-year button, .uib-right.btn, .uib-title.btn, .uib-left.btn {
  color: #333 !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  margin-bottom: 0px !important;
  text-shadow: none;
}

.uib-right.btn, .uib-title.btn, .uib-left.btn {
  margin-bottom: 10px !important;
}

.uib-day.selected .btn {
  color: rgb(255, 255, 255) !important;
  background-color: #ff7f16 !important;
}

.text-info{
  color: #333 !important;
  font-weight: bold !important;
}

.selected .btn .text-info{
  color: white !important;
}

ul.dropdown-menu{
  margin: 0;
  padding: 0;
}

.dropdown-tab{
  height: 45px !important;
  line-height: 45px !important;
  text-align: center;
}

.dropdown-tab:hover{
  cursor: pointer;
}

li.divider{
  margin: 0 !important;
}

.dropdown-toggle{
  padding: 0px !important;
}

.main-dropdown-toggle{
  height: 100%;
  width: 100%;
  padding: 12px 15px !important;
  color: #337ab7;
  font-size: 16px;
}

.main-dropdown-toggle:hover{
  cursor: pointer !important;
  color: #23527c;
}

.dropdown-toggle.ng-binding.btn{
  color: #333 !important
}
