<div class="container landing-page-container inner-container" ng-controller="HomeController">
  <div class="row">
    <div class="col-sm-6 right-divider">
      <div class="left-panel">
        <p>This page will eventually be the admin portal home page</p>
        <p>It'll allow the admin to <i>manage users</i>, do <i>study discovery</i>, and <i>manage sessions</i></p>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="row">
        <h1 class="title title-pad"><strong>Get Started</strong></h1>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <a class="btn btn-primary full-width" ui-sref="">Blank</a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary full-width" ui-sref="authentication.signin">Blank</a>
        </div>
    </div>
  </div>
</div>
