<div class="container inner-container" ng-controller="AvailabilityController">
  <h1 class="text-center pad-top"><strong ng-if="state!=='edit'">Define Session Availability</strong><strong ng-if="state==='edit'">Edit Session Availability</strong></h1>
  <div class="row justify-content-between">
    <div class='col-sm-8'>
      <h3>Selection Type:</h3>
      <div class='btn-group'>
        <button class='btn btn-primary' ng-model='type' uib-btn-radio='"individual"'>Individual</button>
        <button class='btn btn-primary' ng-model='type' uib-btn-radio='"range"'>Range</button>
      </div>
    </div>
    <div class='col-sm-4'>
      <button type="submit" ng-click='sendAvailability()' class="btn btn-primary full-width no-margin small-top-margin"><span ng-if="state!=='edit'">Submit Availability</span><span ng-if="state==='edit'">Edit Availability</span></button>
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-4" uib-datepicker ng-model='activeDate' multi-select='selectedDates' select-range='{{type=="range"}}' datepicker-options='options'></div>
    <!-- <div class="col-sm-4" ng-if='loaded' uib-datepicker ng-model='activeDate' multi-select='selectedDates' select-range='{{type=="range"}}' datepicker-options='options'></div> -->
    <div class="col-sm-8">
      <!--<h3 class="text-center">Hello World</h3>-->
      <div ng-if='type=="individual"'>
        Selected Dates:
        <div class='well well-sm'>
          <div ng-repeat='d in selectedDates | orderBy'>
            {{d | date : 'fullDate'}}
            <button class='btn btn-xs btn-warning' style='margin:5px' ng-click='removeFromSelected(d)'>Remove Day</button>
            <div class='row'ng-repeat="possibility in availability | filter:{unixDate: d}">
              <div class="col-sm-5">
                <label>Start Time:</label>
                <select class='form-control full-width' ng-model="possibility.startTime" ng-change='prepEndTime(possibility)' ng-options="times.val as times.show for times in startTime"></select>
              </div>
              <div class="col-sm-5">
                <label>End Time:</label>
                <select class='form-control full-width' ng-model="possibility.endTime" ng-disabled='!possibility.startTime' ng-options="times.val as times.show for times in possibility.endTimeList"></select>
              </div>
              <div class='col-sm-2'>
                <button class="btn btn-danger" ng-click='removeEntry(possibility)'>
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </div>
            <hr>
            <button class='btn btn-xs btn-primary' style='margin:5px' ng-click='addEntry(d)'>Add Time Range</button>
          </div>
        </div>
      </div>
      <div ng-if='type=="range"' >
        Selected Range:
        <div class='well well-sm'>
          {{(selectedDates | orderBy)[0] | date:"fullDate"}}
          <span ng-if='selectedDates.length > 1'>
            - {{(selectedDates | orderBy : '-')[0] | date:"fullDate"}}
          </span>
      	</div>
      </div>
    </div>
  </div>
  <!--
  <div class="form-group no-margin">
    <button type="submit" ng-click='sendAvailability()' class="btn btn-primary full-width no-margin small-top-margin">Submit Availability</button>
  </div>
  -->
</div>
