<!-- TODO create faculty controller -->
<div class="container inner-container" ng-controller="FacultyPortalController">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="phone-center"><strong>Faculty Portal</strong></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" >
      <a id="addCourseButton" class="btn btn-orange mobile-full-width float-right no-margin-bottom phone-top-margin"  ng-click='courseModal()'>Add a New Course</a>
    </div>
  </div>

  <div class="row">
    <h2 class="text-center">Extra Credit</h2>
  </div>

  <div class="row small-top-margin">
    <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2">
      <select class="form-control" ng-model="selectedCourse" ng-options="course as course.name for course in allCourses track by course.name" ng-change="attemptPopulate()">
        <option value="" disabled selected>Select a Course</option>
      </select>
    </div>
    <div class="col-md-3 col-sm-4 phone-top-margin">
      <select class="form-control" ng-model="selectedSemester" ng-options="semester as semester.name + ' ' + semester.startDate.getFullYear() for semester in semesters" ng-change="attemptPopulate()">
        <option value="" disabled selected>Select a Semester</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table ng-table="participatedStudies" class="table table-hover small-top-margin entries-selectable" show-filter="false">
        <tr ng-repeat="study in participatedStudies.data">
          <td title="'Studies Participated In'" filter="{'studyTitle': 'text'}" sortable="'studyTitle'" ng-attr-title="{{null}}" ng-click="studentModal(study)" class="text-center">{{study.studyTitle}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Add Course Modal -->
  <div id="addCourseModal" class="modal fade" role="dialog">
    <div class="modal-dialog course-modal">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
              <h3 class="no-margin" id='addCourse'><strong>Add New Course</strong></h3>
            </div>
            <div class="col-xs-2">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <div class="pane">
          <div class="row">
            <div class="col-sm-12">
              <label for="course">Course Code</label>
              <input type="text" id="course" name="course" class="form-control small-top-margin" ng-model="newCourse.name" placeholder="Enter a course code">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a id='add-course-btn' class="btn btn-primary full-width top-margin" ng-click="addCourse()">Add Course</a>
            </div>
          </div>
          <div class="row" ng-show='error'>
            <div class="col-sm-12">
              <p class="error text-center">{{error}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Add Course Modal -->

  <!-- Student Modal -->
  <div id="studentModal" class="modal" role="dialog">
    <div class="modal-dialog table-modal">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
              <h3 class="no-margin"><strong>Students that Participated in "{{currentStudy.studyTitle}}"</strong></h3>
            </div>
            <div class="col-xs-2">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <div class="pane">
          <table ng-table="extraCredit" class="table table-hover small-top-margin" show-filter="false">
            <tr ng-repeat="participant in extraCredit.data">
              <td title="'Name'" filter="{'lastName': 'text'}" sortable="'lastName'" ng-attr-title="{{null}}">{{participant.firstName}} {{participant.lastName}}</td>
              <td title="'Email'" filter="{'email': 'text'}" sortable="'email'" ng-attr-title="{{null}}">{{participant.email}}</td>
            </tr>
          </table>
          <div class="row pad-top">
            <div class="col-sm-6 col-sm-offset-3">
              <a class="btn btn-primary full-width" ng-click="exportCSV()">Export</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End Student Modal -->

</div>
