<img class="uf-monogram" src="images/uf_monogram.png">
<div class="container" style="margin-top: -15px; margin-bottom: 10px;">
  <div class="row phone-center">
    <!-- Left side of footer -->
    <div class="col-sm-8">
      <div style="margin-bottom: 10px;">
        <p>Email questions to <a href="mailto:email@gmail.com">email@gmail.com</a></p>
        <p>© 2017 Department of Computer & Information Science & Engineering</p>
      </div>
    </div>

    <!-- Right side of footer -->
    <div class="col-sm-4">
      <img class="footer-logo float-right" src="/images/uf_logo.png" alt="University of Florida">
    </div>
  </div>
</div>
