<div class="container landing-page-container inner-container" ng-controller="HomeController">
  <div class="row">
    <div class="col-sm-6 right-divider">
      <div class="left-panel">
        <p>This research portal exists to help researchers from the University of Florida's Human Centered Computing group recruit participants for their research studies.</p>
        <p>Participants can search through available studies and sign up to receive compensation in the form of extra credit (if they are enrolled in a course that is offering it) or monetary payment.</p>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="row">
        <h1 class="title title-pad"><strong>Get Started</strong></h1>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <a class="btn btn-primary full-width" ui-sref="authentication.signup">Sign Up</a>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary full-width" ui-sref="authentication.signin">Sign In</a>
        </div>
    </div>
  </div>
</div>
