<div class="container inner-container" ng-controller="ParticipantPortalController">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="phone-center"><strong>Participant Portal</strong></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <a class="btn btn-orange mobile-full-width float-right no-margin-bottom phone-top-margin" ui-sref="studies.discover">Participate in a New Study</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="text-center">My Upcoming Sessions</h2>
      <table ng-table="upcomingSessions" class="table table-hover entries-selectable hide-col-1-phone" show-filter="false">
        <tr ng-click="sessionDetails(session, 'upcoming', $index)" ng-repeat="session in upcomingSessions.data">
          <td title="'Title'" filter="{ title: 'text'}" sortable="'Title'" ng-attr-title="{{null}}">{{session.studyID.title}}</td>
          <td title="'Location'" filter="{ location: 'text'}" sortable="'Location'" ng-attr-title="{{null}}">{{session.studyID.location}}</td>
          <td title="'Date'" filter="{ Date: 'text'}" sortable="'sessionTime'" width=100px ng-attr-title="{{null}}">{{session.date}}</td>
          <td title="'Time'" filter="{ Time: 'text'}" sortable="'sessionTime'" width=90px ng-attr-title="{{null}}">{{session.time}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="text-center">My Past Sessions</h2>
      <table ng-table="pastSessions" class="table table-hover entries-selectable hide-col-1-phone" show-filter="false">
        <tr ng-click="sessionDetails(session, 'past', $index)" ng-repeat="session in pastSessions.data">
          <td title="'Title'" filter="{ title: 'text'}" sortable="'Title'" ng-attr-title="{{null}}">{{session.studyID.title}}</td>
          <td title="'Location'" filter="{ location: 'text'}" sortable="'Location'" ng-attr-title="{{null}}">{{session.studyID.location}}</td>
          <td title="'Date'" filter="{ Date: 'text'}" sortable="'sessionTime'" width=100px ng-attr-title="{{null}}">{{session.date}}</td>
          <td title="'Time'" filter="{ Time: 'text'}" sortable="'sessionTime'" width=90px ng-attr-title="{{null}}">{{session.time}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Detail Modal -->
  <div id="detailModal" class="modal fade" role="dialog">
    <div class="modal-dialog session-modal">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
              <h3 class="no-margin"><strong>Session Details</strong></h3>
            </div>
            <div class="col-xs-2">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <div class="pane">
          <!-- Study Area -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="underline">Study</h4>
            </div>
          </div>
          <div class="row small-top-pad">
            <div class="col-sm-12">
              <p class="mini-title">Title:</p>
              <p>{{currentSession.studyID.title}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="mini-title">Description:</p>
              <p>{{currentSession.studyID.description}}</p>
            </div>
          </div>

          <hr>

          <!-- Researcher Area -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="underline">Researchers</h4>
            </div>
          </div>
          <div class="row" ng-repeat="researcher in currentSession.researchers">
            <div class="col-sm-6">
              <p class="mini-title">Name:</p>
              <p>{{researcher.userID.firstName}} {{researcher.userID.lastName}}</p>
            </div>
            <div class="col-sm-6">
              <p class="mini-title">Email:</p>
              <p><a href="mailto:{{researcher.userID.email}}" target="_blank">{{researcher.userID.email}}</a></p>
            </div>
          </div>

          <hr>

          <!-- Session Area -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="underline">Session</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="mini-title">Location:</p>
              <p>{{currentSession.studyID.location}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <p class="mini-title">Date:</p>
              <p>{{currentSession.date}}</p>
            </div>
            <div class="col-xs-6">
              <p class="mini-title">Time:</p>
              <p>{{currentSession.time}}</p>
            </div>
          </div>

          <div class="row pad-top" ng-if="currentTable=='upcoming'">
            <div class="col-sm-6 col-sm-offset-3">
              <a class="btn btn-red full-width" data-dismiss="modal" data-toggle="modal" data-target="#cancelModal">Cancel Your Session</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- End Detail Modal -->

  <!-- Cancel Modal -->
  <div id="cancelModal" class="modal" role="dialog">
    <div class="small-modal">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="row">
          <div class="col-xs-12 text-center">
            <p>Are you sure you want to cancel your session?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <button class="btn small-modal-btn full-width" ng-click="confirmCancel()">Yes</button>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <button class="btn small-modal-btn full-width" ng-click="cancelClose()">No</button>
          </div>
        </div>
        <div class="row" ng-if="error">
          <div class="col-sm-12">
            <p class="error text-center">There was a problem canceling your session, please contact the researcher running your session!</button>
          </div>
        </div>
        </div>
    </div>

  </div>
  <!-- End Cancel Modal -->

</div>
