<!-- TODO create the controller for the researcher page -->
<div class="container inner-container" ng-controller="ResearcherPortalController">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="phone-center">Researcher Portal</h1>
    </div>
    <div class="col-sm-6">
      <a class="btn btn-primary margin-top mobile-full-width float-right" ui-sref="studies.create" href="/studies/create">Create a New Study</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">My Studies</h2>
      <!-- TODO look at how I populate the table in participant-portal and then display info from backend -->
      <table class="table table-hover">

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">My Upcoming Sessions</h2>
      <!-- TODO look at how I populate the table in participant-portal and then display info from backend (consider approval process for participants) -->
      <table class="table table-hover">

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">My Past Sessions</h2>
      <!-- TODO look at how I populate the table in participant-portal and then display info from backend (consider approval process for participants) -->
      <table class="table table-hover">

      </table>
    </div>
  </div>

</div>
