<!--

// TODO create manage users controller
<div class="container inner-container" ng-controller="ManageUsersController">

// This page will look like study discovery page

</div>

-->
<div class="container inner-container" ng-controller="ResetPasswordController">

<section>
  <div class="page-header">
    <h1 ng-if="state!=='reset'">Forgot Your Password?</h1>
    <h1 ng-if="state==='reset'">Reset Password</h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" ng-submit="submit(userForm.$valid)" novalidate>
      <fieldset>
        <div  ng-if="state!=='reset'" class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="password" id="email" name="email" class="form-control" placeholder="email@example.com" required />
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <div  ng-if="state==='reset' && isLoggedIn == 1" class="form-group" show-errors> <!-- can we ng-if user is logged in-->
          <label for="password">Current Password</label>              <!-- on a reset from an email, only new and confirm should show-->
          <input type="password" id="password" name="password" class="form-control" placeholder="password" required />
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Current password is required.</p>
          </div>
        </div>
        <div  ng-if="state==='reset'" class="form-group" show-errors>
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password" required />
          <div ng-messages="userForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">New Password is required.</p>
          </div>
        </div>
        <div  ng-if="state==='reset'" class="form-group" show-errors>
          <label for="confirmNewPassword">Confirm New Password</label>
          <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" placeholder="Confirm New Password" required />
          <div ng-messages="userForm.confirmNewPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">New Password Confirmation is required.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

</div>
