<!--

// TODO create manage users controller
<div class="container inner-container" ng-controller="ManageUsersController">

// This page will look like study discovery page

</div>

-->
<!--
<div class="container inner-container" ng-controller="ResetPasswordController">

<section>
  <div class="page-header">
    <h1>Reset Password</h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" ng-submit="resetPasswordKnown(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="password">Current Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="password" required />
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Current password is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="credentials.newPassword" placeholder="New Password" required />
        </div>
        <div class="form-group" show-errors>
          <label for="confirmNewPassword">Confirm New Password</label>
          <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" ng-model="credentials.confirmNewPassword" ng-change="validateConfirmPassword(credentials.confirmNewPassword)" placeholder="Confirm New Password" required />
        </div>
        <div class="form-group">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

</div>


----------------->
<div class="container inner-container" ng-controller="ResetPasswordController">
  <h1 class="text-center pad-top"><strong>Change Your Password</strong></h1>
  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 mobile-no-pad pad-top">
    <div class="form-panel">
      <form name="userForm" ng-submit="resetPasswordKnown(userForm.$valid)" class="signin" novalidate autocomplete="on">
        <fieldset>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors> <!-- can we ng-if user is logged in-->
                <label for="password">Current Password</label>              <!-- on a reset from an email, only new and confirm should show-->
                <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="password" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="credentials.newPassword" uib-popover="{{popoverMsg}}" placeholder="New Password" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="confirmNewPassword">Confirm New Password</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" ng-model="credentials.confirmNewPassword" placeholder="Confirm New Password" required />
              </div>
            </div>
          </div>

          <div class="text-center form-group small-top-pad">
            <button type="submit" class="full-width btn btn-primary">Submit</button>
          </div>
          <div ng-show="error" class="text-center text-danger bottom-pad">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
  </div>
  </div>
</div>
