<div class="container inner-container" ng-controller="ResetPasswordController">
  <h1 class="text-center pad-top"><strong>Reset Your Password</strong></h1>
  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 mobile-no-pad pad-top">
    <div class="form-panel">
      <form name="userForm" ng-submit="resetPassword(userForm.$valid)" class="signin" novalidate autocomplete="on">
        <fieldset>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="credentials.newPassword" uib-popover="{{popoverMsg}}" placeholder="New Password" required />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="confirmNewPassword">Confirm New Password</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" ng-model="credentials.confirmNewPassword" placeholder="Confirm New Password" required />
              </div>
            </div>
          </div>

          <div class="text-center form-group small-top-pad">
            <button type="submit" class="full-width btn btn-primary">Submit</button>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
  </div>
  </div>
</div>
