<div ng-controller='SessionCancellationController' class="container inner-container panel-container">
  <div class="jumbotron gator-dark-blue vertical-center">
    <div class="container jumbotron-container text-center gator-light-blue">
      <div ng-if="!error">
        <h1><strong>Session Cancelled</strong></h1>
        <p>Your session has been successfully canceled. If you'd like to reschedule please log in and sign up again.</p>
        <div class="row pad-top">
          <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
            <a class="btn full-width btn-green" ui-sref="authentication.signin">Sign In</a>
          </div>
        </div>
      </div>
      <div ng-if="error">
        <h1><strong>Error!</strong></h1>
        <p>There was a problem cancelling your session. Please contact the admin.</p>
      </div>
    </div>
  </div>
</div>
