<div class="container inner-container panel-container">
  <div class="jumbotron gator-dark-blue vertical-center">
    <div class="container jumbotron-container text-center gator-light-blue">
      <h1><strong>Thank you!</strong></h1>
      <p>You have successfully signed up for this study. You will now be able to see the session in the upcoming session area of your portal.</p>
      <div class="row pad-top">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
          <a class="btn full-width btn-green" ui-sref="participant-portal">Return to My Portal</a>
        </div>
      </div>
    </div>
  </div>
</div>
