<!-- TODO create create study controller -->
<div class="container inner-container" ng-controller='StudyController'>

  <!-- TODO Copy the html from one of the other form fields to match style -->
  <h1 class="text-center pad-top"><strong ng-if="state!=='edit'">Create a Study</strong><strong ng-if="state==='edit'">Edit Study</strong></h1>
  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 moile-no-pad">
    <div class="form-panel">
      <form name="studyForm" ng-submit="submit(studyForm.$valid)" class="createstudy" novalidate autocomplete="off">
        <fieldset>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control" ng-model="currentStudy.title" placeholder="Title of Study" required>
                <!--
                <div ng-messages="userForm.firstName.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">First name is required.</p>
                </div>
              -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="address">Location</label>
                <input type="text" id="address" name="address" class="form-control" ng-model="currentStudy.location" placeholder="Room Number or Address" required>
                <!--
                <div ng-messages="userForm.address.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Address is required.</p>
                </div>
              -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="requireApproval" class="full-width">Require Approval</label>
                <input id="requireApproval" ng-model="currentStudy.requireApproval" type="checkbox">
                <!--
                <div ng-messages="userForm.address.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Address is required.</p>
                </div>
              -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="irb">IRB</label>
                <input type="text" id="irb" name="irb" class="form-control" ng-model="currentStudy.irb" placeholder="IRB Number" required>
                <!--
                <div ng-messages="userForm.email.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Email address is required.</p>
                  <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                </div>
              -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <div id="compensation" class="form-group">
                  <label>Compensation</label>
                  <select name="compensation" class="form-control" ng-model="currentStudy.compensationType" required>
                    <option value="extraCredit">Extra Credit</option>
                    <option value="monetary">Monetary</option>
                  </select>
                  <!--
                  <div ng-messages="userForm.gender.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">picking an option required.</p>
                  </div>
                -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" ng-show='currentStudy.compensationType==="monetary"'>
                <label>Monetary Compensation Amount (USD)</label>
                <div id="compensationAmount" class="compensationAmount">
                  <input type="number" id="compensationAmount" name="compensationAmount" class="form-control" ng-model="currentStudy.compensationAmount" placeholder="0.00" required>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="maxParticipants">Max Participants for Study</label>
                <div id="maxParticipants" class="maxParticipants">
                  <input type="number" id="maxParticipants" name="maxParticipants" class="form-control" ng-model="currentStudy.maxParticipants" placeholder="Max Study Participants" required>
                  <!--
                  <div ng-messages="userForm.birthday.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Birthday is required.</p>
                  </div>
                -->
              </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="maxParticipantsPerSession">Participants per Session</label>
                <div id="maxParticipantsPerSession" class="ParticipantsPerSession">
                  <input type="number" id="ParticipantsPerSession" name="ParticipantsPerSession" class="form-control" ng-model="currentStudy.participantsPerSession" placeholder="Participants per Session" required>
                  <!--
                  <div ng-messages="userForm.birthday.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Birthday is required.</p>
                  </div>
                -->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="satisfactory">Minimum Total Desired</label>
                <input type="number" id="satisfactory" name="satisfactory" class="form-control" ng-model="currentStudy.satisfactoryNumber" placeholder="Minimum Participants Desired" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="duration">Duration (in minutes)</label>
                <select name="duration" class="form-control" ng-model="currentStudy.duration" required>
                  <option value=15>15</option>
                  <option value=30>30</option>
                  <option value=60>60</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="description">Description</label>
                <textarea type="text" id="description" name="description" class="form-control text-area" ng-model="currentStudy.description" placeholder="Brief Description of Study" required/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label for="researchers">Add Other Researchers</label>
              <!--TODO Find a way to gather Researchers to choose from for multiple researchers owning the study - also, add a field for an array of Researchers for owning the study in the schema-->
              <div ng-dropdown-multiselect="" options="researcherdata" selected-model="researchermodel" extra-settings="researchersettings"></div>
            </div>
          </div>
          <div class="form-group no-margin">
            <button type="submit" class="btn btn-primary full-width no-margin small-top-margin"><span ng-if="state!=='edit'">Create and Select Availability</span><span ng-if="state==='edit'">Update and Edit Availability</span></button>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
