<div class="container inner-container" ng-controller="PasswordController">
  <h1 class="text-center pad-top"><strong>Reset Your Password</strong></h1>
  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 moile-no-pad">
    <div class="form-panel">
      <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" novalidate autocomplete="off">
        <fieldset>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control lowercase" ng-model="credentials.email" placeholder="Email" required>
                <div ng-messages="forgotPasswordForm.email.$error" role="alert">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control lowercase" ng-model="credentials.username" placeholder="Username" required>
                <div ng-messages="forgotPasswordForm.username.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Remove me after testing.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center form-group no-margin">
            <button type="submit" class="btn btn-primary full-width no-margin">Send Password Reset Email</button>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong ng-bind="success"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
