<div class="container inner-container" ng-controller="StudySignupController">
  <!--Page Title-->
  <div class="row">
    <div class="col-sm-12">
      <h1 class="phone-center"><strong>Study Signup for {{ '\"' + study.title + '\"' }}</strong></h1>
    </div>
  </div>
  <div ng-if="hasPartialSessions">
    <div class="row small-top-pad">
      <div class="col-sm-12">
        <p class="note no-margin">If possible, please try to sign up for one of the sessions that needs additional participants. Any sessions that aren't completely filled at least one day in advance will be canceled.</p>
      </div>
    </div>
    <!--Available session to signup for-->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2 class="text-center">Sessions That Need Additional Participants</h2>
        <table ng-table="partialSessionsTable" class="table table-hover entries-selectable hide-col-1-phone hide-col-4-phone" show-filter="false">
          <tr ng-click="studySignupModal(session, $index)" ng-repeat="session in partialSessionsTable.data">
            <td title="'Day of the Week'" filter="{ 'dow': 'text'}" sortable="'dow'" ng-attr-title="{{null}}">{{session.dow}}</td>
            <td title="'Date'" filter="{ 'date': 'text'}" sortable="'startTime'" ng-attr-title="{{null}}">{{session.date}}</td>
            <td title="'Time'" filter="{ 'time': 'text'}" sortable="'startTime'" ng-attr-title="{{null}}">{{session.time}}</td>
            <td title="'Participants'" filter="{ 'currentParticipants': 'text'}" sortable="'currentParticipants'" ng-attr-title="{{null}}">{{session.currentParticipants}}/{{study.participantsPerSession}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="text-center">Empty Sessions</h2>
      <table ng-table="emptySessionsTable" class="table table-hover entries-selectable hide-col-1-phone hide-col-4-phone" show-filter="false">
        <tr ng-click="studySignupModal(session, $index)" ng-repeat="session in emptySessionsTable.data">
          <td title="'Day of the Week'" filter="{ 'dow': 'text'}" sortable="'dow'" ng-attr-title="{{null}}">{{session.dow}}</td>
          <td title="'Date'" filter="{ 'startTime': 'text'}" sortable="'startTime'" ng-attr-title="{{null}}">{{session.date}}</td>
          <td title="'Time'" filter="{ 'startTime': 'text'}" sortable="'startTime'" ng-attr-title="{{null}}">{{session.time}}</td>
          <td title="'Participants'" filter="{ 'currentParticipants': 'text'}" sortable="'currentParticipants'" ng-attr-title="{{null}}">{{session.currentParticipants}}/{{study.participantsPerSession}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!--Signup Modal-->
  <div id="studySignupModal" class="modal" role="dialog">
    <div class="modal-dialog session-modal">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
              <h3 class="no-margin"><strong>{{study.title}}</strong></h3>
            </div>
            <div class="col-xs-2">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <div class="pane">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="underline">Details</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="mini-title">Day of the Week:</p>
              <p>{{currentSession.dow}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="mini-title">Participants Signed Up:</p>
              <p>{{currentSession.currentParticipants}}/{{study.participantsPerSession}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p class="mini-title">Date:</p>
              <p>{{currentSession.date}}</p>
            </div>
            <div class="col-sm-6">
              <p class="mini-title">Time:</p>
              <p>{{currentSession.time}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p class="mini-title">Location:</p>
              <p>{{study.location}}</p>
            </div>
            <div class="col-sm-6">
              <p class="mini-title">Duration:</p>
              <p>{{study.duration}} minutes</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h4 class="underline">Compensation</h4>
            </div>
          </div>
          <div class="row">
            <form name="sessionForm" ng-submit="studySignup()" class="signin" novalidate>
              <fieldset>
                <div class="col-sm-12">
                  <div class="form-group" show-errors>
                    <div id="compensation" class="form-group">
                      <label>Select Compensation Type:</label>
                      <select name="compensation" class="form-control full-width" ng-model="credentials.compensation" required>
                        <option value="">None</option>
                        <option ng-show="hasExtraCredit" value="extraCredit">Extra Credit</option>
                        <option ng-show="hasMonetary" value="monetary">Monetary</option>
                      </select>
                    </div>
                    <div ng-show="credentials.compensation === 'extraCredit'" id="classCode" class="form-group">
                      <label>Select Class Code:</label>
                      <select name="classCode" class="form-control" ng-model="credentials.classCode">
                        <option ng-repeat="course in allCourses" value="{{course.name}}">{{course.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="studyButton"class="col-sm-6 col-sm-offset-3 pad-top">
                  <button class="btn btn-primary full-width">Sign up</button>
                </div>
                <div class="col-sm-12" ng-if="error">
                  <p class="error text-center">{{ error }}</p>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
