<div class="container inner-container" ng-controller="AuthenticationController">
  <h1 class="text-center pad-top"><strong>Create a Faculty Account</strong></h1>
  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 mobile-no-pad">
    <div class="form-panel">
      <form name="userForm" ng-submit="facultySignup(userForm.$valid)" class="signin" novalidate autocomplete="on">
        <fieldset>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <label for="birthday">Birthday</label>
                <div class='input-group date'>
                    <input type='text' id="birthday" name="birthday" ng-model="credentials.birthday" onkeydown="return false" class="form-control" />
                    <span class="input-group-addon" ng-click="toggleBirthdayFocus()">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" show-errors>
                <div id="gender" class="form-group">
                  <label>Gender</label>
                  <select name="gender" class="form-control" ng-model="credentials.gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                    <option value="none">Prefer Not to Disclose</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control lowercase" ng-model="credentials.email" placeholder="Email" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="address">Address</label>
                <input type="address" id="address" name="address" class="form-control" ng-model="credentials.address" placeholder="Address, City, State, Zipcode" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="confirm">Confirm Password</label>
                <input type="password" id="confirm" name="confirm" class="form-control" ng-model="credentials.confirm" placeholder="Confirm Password" ng-change="validateConfirmPassword(credentials.confirm)" required>
              </div>
            </div>
          </div>
          <div class="form-group no-margin">
            <button type="submit" class="btn btn-primary full-width no-margin small-top-margin">Sign Up</button>
          </div>
          <div ng-show="error" class="text-center text-danger small-top-pad">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    var today = Date.now();
    $(function () {
        $('#birthday').datetimepicker({
          format: 'MM/DD/YYYY',
          viewMode: 'years',
          maxDate: today,
        })
    });
</script>
