<div class="container inner-container" ng-controller="AuthenticationController">
  <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 mobile-no-pad pad-top">
    <div class="form-panel">
      <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
        <fieldset>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control lowercase" ng-model="credentials.email" placeholder="Email" required>
                <div ng-messages="userForm.email.$error" role="alert">
                  <p class="help-block error-text" ng-message="required"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" show-errors>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
                <div ng-messages="userForm.password.$error" role="alert">
                  <p class="help-block error-text" ng-message="required"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center form-group small-top-pad">
            <button type="submit" class="full-width btn btn-primary">Sign In</button>
          </div>
          <div class="text-center forgot-password">
            <a ui-sref="password.forgot">Forgot your password?</a>
          </div>
          <alert type="danger" ng-show="error" class="text-center text-danger">
            <span ng-bind="error"></span>
          </alert>
        </fieldset>
      </form>
  </div>
  </div>
</div>
