<div ng-controller="VerificationController">
  <div class="container inner-container panel-container">
    <div class="jumbotron gator-dark-blue vertical-center">
      <div class="container jumbotron-container text-center gator-light-blue">
        <h1><strong>Registration Complete!</strong></h1>
        <p>Your email was successfully verified and you're now able to access the system.</p>
        <div class="row pad-top">
          <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
            <a class="btn full-width btn-green" ui-sref="authentication.signin" href="/authentication/signin">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
